.movie img {
  width: 152px;
  height: 225px;
  object-fit: cover;
}
.movie_style img {
  width: 230px;
  height: 152px;
  margin-right: 10px;
}
.style:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}
